<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <h1>MARCHE <%= move[1] %></h1>

<p><%
    for(var i = 0 ; i <=  move.length ; i++) {
    %>

    <%= move[i] %>... 

<% } %></p>
  </body>
</html>
